:root {
    color-scheme: light !important;
}

html, body {
    background-color: rgb(241, 241, 241) !important;
    color: #000 !important;
}

/* Esconde scroll apenas em telas menores que 640px */
@media (max-width: 639px) {
  #categoriaContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
  }
  #categoriaContainer {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
  }
}
